<ul>
  <li ng-repeat="checklist in checklists">
    <a href="#/checklists/{{checklist.id}}">{{checklist.title}}</a>
    <p><a href="#/checklists/{{checklist.id}}">{{checklist.subtitle}}</a></p>
  </li>
</ul>
