<!DOCTYPE html>
<html lang="en"  ng-app="proto" >
  <head>
    <meta charset="utf-8">
    <!-- meta:format-detection
	 Enables or disables automatic detection of possible phone 
	 numbers in a webpage in Safari on iOS. -->
    <meta name="format-detection" content="telephone=no" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- meta:viewport 

	 user-scalable: The width of the viewport in pixels. The default is 980. The range is from 200 to 10,000. You can also set this property to the constants described in Table 2. Available in iOS 1.0 and later.

	 initial-scale: The initial scale of the viewport as a multiplier. The default is calculated to fit the webpage in the visible area. The range is determined by the minimum-scale and maximum-scale properties. You can set only the initial scale of the viewport—the scale of the viewport the first time the webpage is displayed. Thereafter, the user can zoom in and out unless you set user-scalable to no. Zooming by the user is also limited by the minimum-scale and maximum-scale properties. Available in iOS 1.0 and later.
 
	 maximum-scale: Specifies the maximum scale value of the viewport. The default is 5.0. The range is from >0 to 10.0. Available in iOS 1.0 and later. 

	 minimum-scale:   Specifies the minimum scale value of the viewport. The default is 0.25. The range is from >0 to 10.0. Available in iOS 1.0 and later.

	 width=device-width: The width of the viewport in pixels. The default is 980. The range is from 200 to 10,000. You can also set this property to the constants described in Table 2. Available in iOS 1.0 and later.

	 height=device-height : The height of the viewport in pixels. The default is calculated based on the value of the width property and the aspect ratio of the device. The range is from 223 to 10,000 pixels. You can also set this property to the constants described in Table 2. Available in iOS 1.0 and later.

      -->
    <meta name="viewport" 
	  content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />


    <title>International trip</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!--link href="vendor/angular-snap-js/angular-snap.css" rel="stylesheet"/-->
      <link href="css/checklist.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--style>
      div{
      border:1px solid red;
      }
    </style-->

    <script src="vendor/angular-1.2/angular.js"></script>
    <script src="vendor/angular-1.2/angular-touch.js"></script>
    <script src="vendor/angular-1.2/angular-route.js"></script>
    <script src="vendor/angular-1.2/angular-resource.js"></script>
    <script src="vendor/angular-1.2/angular-sanitize.js"></script>
    <script src="vendor/broofa/uuid.js"></script>
    <!--script src="vendor/jakiestfu/snap.js"></script>
    <script src="vendor/angular-snap-js/angular-snap.js"></script-->
    <script src="vendor/steelbreeze/state.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="js/app_proto.js"></script>
    <script src="js/model_itemlist.js"></script>

    <script src="js/ctrl_body.js"></script>
    <script src="js/ctrl_itemlist.js"></script>

    <script src="vendor/broofa/uuid.js"></script>
    <script src="js/rfEventManager.js"></script>
    <script src="js/rfSubjectManager.js"></script>
    <script src="js/services.js"></script>

  </head>
  <body ng-controller="ProtoBodyCtrl">

    <!--div snap-drawers-->
      <!--div snap-drawer style="padding-top: 80px;">

          <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapseactive">
                              Active checklists
                          </a>
                      </h4>
                  </div>
                  <div id="collapseactive" class="panel-collapse collapse in">
                      <div class="panel-body">
                          <p ng-repeat="checklist in inventory.activechecklists">{{checklist.subjecttitle}}</p>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default" ng-repeat="archive in inventory.archives">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{archive.id}}">
                              {{archive.name}}
                          </a>
                      </h4>
                  </div>
                  <div id="collapse{{archive.id}}" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p ng-repeat="checklist in archive.checklists">{{checklist.subjecttitle}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div-->
        <!--div snap-drawer="right">
        </div-->
    <!--/div-->

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/checklists"><img src="img/norwegianlogo.png" height="100%"/></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a id="open-left" href="#" ng-click="start()">Items</a></li>
                    <li><a id="open-right" href="#">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div snap-content class="container-fluid" style="padding-top: 80px;">
        <div ng-view></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{modalTitle}}</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="radio">
                            <label>
                                <input ng-model="item2bedited.type" type="radio" name="optionsRadios" id="optionsRadios1" value="label" checked>
                                A text label in between your check items
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-model="item2bedited.type" type="radio" name="optionsRadios" id="optionsRadios2" value="check">
                                A check item
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="item.label">Label</label>
                            <input type="text" class="form-control" ng-model="item2bedited.label" id="item.label" placeholder="Enter label"/>
                        </div>
                        <div ng-hide="item2bedited.type=='label'" class="form-group">
                            <label for="item.help">Help</label>
                            <textarea class="form-control" id="item.help" ng-model="item2bedited.help" placeholder="help text" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="item.group">Group</label>
                            <input type="text" class="form-control" ng-model="item2bedited.group" id="item.group" placeholder="Enter group"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="cordova.js"></script>
  </body>
</html>


