<div class="panel-group" id="accordion">
    <div class="panel panel-default" ng-repeat="archive in inventory.archives">>
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    {{archive.name}}
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <p ng-repeat="checklist in archive.checklists">{{checklist.subject-title}}</p>
            </div>
        </div>
    </div>
</div>