<script type="text/ng-template" id="itemgroup.html">
    <div
            class="col-xs-12 col-sm-10 col-sm-offset-1 dropdown"
            id="item_div_{{item.id}}"
            ng-class="
            {
                labelitem: (item.type == 'label'),
                checkitem_selected_0_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 0),
                checkitem_selected_1_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 1),
                checkitem_selected_2_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 2),
                checkitem_selected_3_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 3),
                checkitem_selected_4_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 4),
                checkitem_selected_5_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 5),
                checkitem_selected_6_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 6),
                checkitem_selected_7_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 7),
                checkitem_selected_8_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 8),
                checkitem_selected_9_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 9),
                checkitem_selected_10_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 10),
                checkitem_selected_11_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 11),
                checkitem_selected_12_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 12),
                checkitem_selected_13_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 13),
                checkitem_selected_14_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 14),
                checkitem_selected_15_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 15),
                checkitem_selected_16_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 16),
                checkitem_selected_17_unchecked: (item.type == 'check' && item.selected && item.state != 'checked' && item.slotId == 17),
                checkitem_checked: (item.type == 'check' && item.state == 'checked'),
                checkitem_state_unselected_unchecked: (item.type == 'check' && !item.selected && item.state != 'checked')
            }
            "
            ng-click="uiItemClicked(item)"
            ng-swipe-right="uiItemSwipedRight(item)"
            ng-swipe-left="uiItemSwipedLeft(item)"
            ng-hide="item.removed == true"
            ng-switch="item.edited"
            data-container="body"
            data-toggle="popover"
            data-placement="auto"
            data-selector='[rel="popover"]'
            trigger="manual"
            data-title="{{item.label}}"
            data-content="{{item.help}}"
            >
        <div ng-switch-when="undefined" style="float:right;vertical-align: baseline;margin-top: 5px;">
            <a id="item_check_{{group.index}}_{{$index}}" title="set to unchecked" role="button" data-target="#"
               href="">
                <span ng-if="item.type=='check' && item.state=='checked' && !item.edited" class="glyphicon glyphicon-check"
                      ng-click="uiCheckboxClicked(item)"></span></a>

            <a id="item_check_{{group.index}}_{{$index}}" title="set to checked" role="button" data-target="#"
               href="">
                <span ng-if="item.type=='check' && item.state!='checked' && !item.edited" class="glyphicon glyphicon-unchecked"
                      ng-click="uiCheckboxClicked(item)"></span></a>
        </div>
        <div ng-switch-when="true" style="float:right;vertical-align: baseline;margin-top: 5px;" align="right">
            <a id="item_up_{{group.index}}_{{$index}}" title="request editing" role="button" data-target="#" href="">
                <span class="glyphicon glyphicon-arrow-down" ng-click="uiItemMoveDown(item)" </span></a>

            <a id="item_down_{{group.index}}_{{$index}}" title="request editing" role="button" data-target="#" href="">
                <span class="glyphicon glyphicon-arrow-up" ng-click="uiItemMoveUp(item)" </span></a>
            &nbsp;
            <a id="item_edit_{{group.index}}_{{$index}}" title="remove this item" role="button" data-target="#" href="">
                <span class="glyphicon glyphicon-remove" ng-click="uiRequestItemRemove(item)" </span></a>
            <a id="item_edit_{{group.index}}_{{$index}}" title="edit this item" role="button" data-target="#" href="">
                <span class="glyphicon glyphicon-plus" ng-click="uiRequestItemAdd(item, group.title)" </span></a>
            <a id="item_edit_{{group.index}}_{{$index}}" title="edit this item" role="button" data-target="#" href="">
                <span class="glyphicon glyphicon-edit" ng-click="uiRequestItemEditing(item)" </span></a>
        </div>
        {{item.label}}
    </div>
    <!--  {{item.slotId}} {{item.state}} {{item.type}} {{item.selected}} -->
</script>

<!--div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1"><h1>{{checklist.title}}</h1></div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1"><p>{{checklist.subtitle}}</p></div>
</div-->

<div class="row" style="font-size:20pt" ng-repeat="item in checklist.items"  ng-include src="'itemgroup.html'">
</div>

<div ng-repeat="group in checklist.groups">
    <div class="row" style="font-size:20pt">
        <div id="group_title_div_{{group.index = $index;group.index}}" class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h1 id="group_title_h_{{$index}}">{{group.title}}</h2>
        </div>
    </div>

    <div class="row" style="font-size:20pt" ng-repeat="item in group.items"  ng-include src="'itemgroup.html'"/>

</div> <!-- ng-repeat="group in checklist.groups" -->