body {
    background-color:#F8F8F8;
}
.checkitem_selected_0_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(76, 174, 76, 0.63);
    border-style: dotted;

}
.checkitem_selected_1_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(74, 79, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_2_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(174, 173, 107, 0.63);
    border-style: dotted;

}
.checkitem_selected_3_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(174, 86, 85, 0.63);
    border-style: dotted;

}
.checkitem_selected_4_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_5_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_6_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_7_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_8_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_9_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_10_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_11_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_12_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_13_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_14_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_15_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_16_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_selected_17_unchecked{
    text-decoration: none;
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: rgba(110, 41, 174, 0.63);
    border-style: dotted;

}
.checkitem_checked{
    color: rgba(76, 174, 76, 0.63);
    font-weight:bold;
    font-size:30px;
    background-color:rgba(71, 248, 7, 0.12);
    border-color: transparent;
    border-style: dotted;
}


.checkitem_state_unselected_unchecked{
    color:black;
    font-weight:bold;
    font-size:30px;
    background-color:#FFFFFF;
    border-color: #FFFFFF;
    border-style: dotted;

}
.labelitem{
    color:black;
    font-weight:bold;
    font-size:30px;
    font-style:italic;
    background-color:#FFFFFF;
    border-color: #FFFFFF;
    border-style: dotted;

}



[class^="icon-"] {
    margin-top: 3px;
}

.popover-title {
    color: #428BCA;
    font-size: 25px;
    line-height:100%
}
.popover-content {
    font-size: 20px;
}

.popover
{
    min-width: 300px ! important;
}